@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground overflow-x-hidden;
    background-image: radial-gradient(var(--primary)/5% 20%, transparent 0);
    background-size: 24px 24px;
  }
}

@layer utilities {
  .animate-in {
    animation: animate-in 0.5s ease-out;
  }

  @keyframes animate-in {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}